body{
    background-color: #6B99C3;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
label{
    text-align: start;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, select{
    height: 32px;
    border-radius: 30px;
    width: 20vw;
    background-color: #C2C3C5;
    border-color: #818283;
    border-width: 1px;
}
select{
    width: 5vw;
    background-color: #022E66 !important;
    color:#ffffff;

}

input:hover, select:hover{
    text-decoration: none;
    background-color: #e3e4e6;
}
select:hover{
    background-color: #03469e;
}
input:focus,select:focus{
    text-decoration: none;
    outline: none;
}
.main_box{
    background-color: #ffffff ;
    text-align: center;
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    padding: 20px 10px;
    border-radius: 8px;
}
.container{
    display:flex;
    justify-content: space-between;
    padding: 20px;
}
.tittle_box{
    position: relative;
    background-color: #507393;
    font-family: sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 60px; 
    font-weight: bold;
    top: 50px; 
    width: 40vw;
    margin: auto;
    border-radius: 20px;
    padding: 20px 20px;
    margin-top: 20px;
}
.box1{
    display:flex;
    flex-direction: column;
    
}
.box1_simplebox{
    display:flex;
    flex-direction: column;
    margin: 0 3vh 0 1vh;
    margin-bottom: 16px;
}
.boxDocumento{
    flex-direction: row;
    display:flex;
    flex-direction: column;
    margin: 0 3vh 0 1vh;
    z-index: 2;


}
.button2{
    background-color: #022E66;
    color: #ffffff;
    width: 8vw;
    border-radius: 10px;
}
.input_box{
    background-color: #C2C3C5;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
}
.input_box_documento{
    position: relative;
    background-color: #C2C3C5;
    width: 15vw;
    left: 9px;
    top: -32px;
    padding-left: 95px;
    padding-right: 10px;


}



